body::before{
    display: block;
    content: '';
    height: 145px;
}

@media(min-width: 768px){
    .newsletter {
        width: 50%;
    }
}

.link-unstyled{
    text-decoration: none;
    color: black;
}

.link-unstyled:hover{
    color:darkslategray;
}
